[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urwid = "*"
typing-extensions = "*"
pyserial-asyncio = "*"
pyserial = "*"
dbus-next = "*"

[dev-packages]
pytest = "*"
pytest-coverage = "*"
pytest-asyncio = "*"
mypy = "*"
black = "*"
mock = "*"
isort = "*"
types-mock = "*"
types-setuptools = "*"
exceptiongroup = {markers="python_version < '3.11'"}
openvario-shell = {editable = true, path = "."}
