[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-coverage = "*"
pytest-asyncio = "*"
mypy = "*"
black = "==19.10b0"
mock = "*"

[packages]
openvario-shell = {editable = true,path = "."}
urwid = "*"
typing-extensions = "*"
importlib-metadata = "*"
pyserial-asyncio = "*"
pyserial = "*"
dbus-next = "*"
